body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 50px;
    margin: 0px;
  }
  
.container {
    max-width: 960px;
    margin: 0 auto;
}
  
header{
    background-color: #00A36C;
    color: #FFFFFF;
}

header p{
    font-size: 15px;
}
  
h1{
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
.flex-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
  
p{
    text-align: center;
}

button {
    border: none;
    color: white;
    background-color: #32CD32;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 425px;
    cursor: pointer;
    border-radius: 10px;
    
}

.following{
    display:flex;
    justify-content: space-evenly;
    margin-left: 55px;
}

.following h3{
    font-size: 25px;
}

.following p{
    color: gray;
}
  
  